#stone{text-align: center;
    text-size-adjust: 50px;
    color: blue;
   
    
}

#registerButton{background-color: rgb(255, 0, 140);
  margin-left: 80px;
  border-style: solid;
    border-color: rgb(89, 0, 255);
    border: 2px solid;
  border-radius: 5px

}
  
#div1{margin-left: 80px;
  display: none;}
#im1{height:20px;
  width:20px;


}


#p1{ 
   color: rgb(192, 149, 31);
}
#div2{margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom:30px;
  display: none;

}

